/build
/out
/buildconfig.user.mk

/tests/build/
/tests/opentitan/opentitan-parsing-test/build/
__pycache__
/build
/image
.cache/
compile_commands.json

src/*.d
src/*.o
src/frontends/systemverilog/*.d
src/frontends/systemverilog/*.o
src/mods/yosys_ast/*.d
src/mods/yosys_ast/*.o
