[submodule "yosys"]
	path = yosys
	url = https://github.com/antmicro/yosys.git
[submodule "Surelog"]
	path = Surelog
	url = https://github.com/chipsalliance/Surelog.git
[submodule "sv2v"]
	path = sv2v
	url = https://github.com/zachjs/sv2v.git
[submodule "UHDM-integration-tests"]
	path = UHDM-integration-tests
	url = https://github.com/chipsalliance/UHDM-integration-tests.git
[submodule "yosys-symbiflow-plugins"]
	path = yosys-symbiflow-plugins
	url = https://github.com/antmicro/yosys-symbiflow-plugins.git
[submodule "make-env"]
	path = make-env
	url = https://github.com/SymbiFlow/make-env.git
