[submodule "yosys"]
	path = yosys
	url = https://github.com/antmicro/yosys.git
[submodule "Surelog"]
	path = Surelog
	url = https://github.com/chipsalliance/Surelog.git
[submodule "sv2v"]
	path = sv2v
	url = https://github.com/zachjs/sv2v.git
[submodule "UHDM-integration-tests"]
	path = UHDM-integration-tests
	url = https://github.com/chipsalliance/UHDM-integration-tests.git
[submodule "yosys-f4pga-plugins"]
	path = yosys-f4pga-plugins
	url = https://github.com/chipsalliance/yosys-f4pga-plugins.git
[submodule "make-env"]
	path = uhdm-tests/ibex/make-env
	url = https://github.com/SymbiFlow/make-env.git
[submodule "uhdm-tests/ibex/ibex"]
	path = uhdm-tests/ibex/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "uhdm-tests/opentitan/opentitan-9d82960888"]
	path = uhdm-tests/opentitan/opentitan-9d82960888
	url = https://github.com/lowRISC/opentitan.git
[submodule "uhdm-tests/swerv/Cores-SweRV"]
	path = uhdm-tests/swerv/Cores-SweRV
	url = https://github.com/chipsalliance/Cores-SweRV.git
[submodule "uhdm-tests/opentitan/opentitan"]
	path = uhdm-tests/opentitan/opentitan
	url = https://github.com/lowRISC/opentitan.git
