[submodule "yosys"]
	path = third_party/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "Surelog"]
	path = third_party/surelog
	url = https://github.com/antmicro/Surelog.git
[submodule "sv2v"]
	path = third_party/sv2v
	url = https://github.com/zachjs/sv2v.git
	update = none
[submodule "yosys-f4pga-plugins"]
	path = third_party/yosys_f4pga_plugins
	url = https://github.com/chipsalliance/yosys-f4pga-plugins.git
	update = none
[submodule "make-env"]
	path = third_party/make_env
	url = https://github.com/SymbiFlow/make-env.git
	update = none
[submodule "uhdm-tests/ibex/ibex"]
	path = third_party/ibex
	url = https://github.com/lowRISC/ibex.git
	update = none
[submodule "uhdm-tests/opentitan/opentitan-9d82960888"]
	path = third_party/opentitan_9d82960888
	url = https://github.com/lowRISC/opentitan.git
	update = none
[submodule "uhdm-tests/opentitan/opentitan"]
	path = third_party/opentitan
	url = https://github.com/antmicro/opentitan.git
	update = none
[submodule "uhdm-tests/black-parrot/black-parrot"]
	path = third_party/black_parrot
	url = https://github.com/black-parrot/black-parrot.git
	update = none
[submodule "uhdm-tests/black-parrot/black-parrot-tools"]
	path = third_party/black_parrot_tools
	url = https://github.com/black-parrot/black-parrot-tools
	update = none
[submodule "uhdm-tests/black-parrot/black-parrot-sdk"]
	path = third_party/black_parrot_sdk
	url = https://github.com/black-parrot-sdk/black-parrot-sdk.git
	update = none
[submodule "uhdm-tests/bsg_micro_designs/bsg_micro_designs"]
	path = third_party/bsg_micro_designs
	url = https://github.com/bsg-idea/bsg_micro_designs.git
	update = none
[submodule "third_party/veer"]
	path = third_party/veer
	url = https://github.com/chipsalliance/Cores-VeeR-EH1
	update = none
[submodule "third_party/OpenROAD-flow-scripts"]
	path = third_party/OpenROAD-flow-scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
	update = none
